## Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env
frontend/yarn-error.log

## Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.venv/

## OS
.DS_Store
Thumbs.db
